{% extends 'PdvBundle::layout.html.twig' %}
{% block content -%}
<script type ="text/javascript">
    function redireccionar(id){
        window.location.href = "{{path('cliente_show')}}/"+id;
    }
</script>

<div class = "container">
    <div class="page-header">
        <h4> Clientes <small>Listado</small></h4>
        <a href="{{ path('cliente_new')}}" style = "float:right" class="btn btn-success btn-sm">
            <span class = "glyphicon-plus"> </span> Nuevo Cliente </a>
    </div>
    </br>
    {% if entities is not empty %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombrecliente</th>
                <th>Nitcliente</th>
                <th>Createdat</th>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr onclick="redireccionar({{entity.id}})" style="cursor:pointer">
                <td><a href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombrecliente }}</td>
                <td>{{ entity.nitcliente }}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-warning"> No existen registros </div>
    {% endif %}
       
</div>
    {% endblock %}
