<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
       

        
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/pdv/css/jquery-ui.min.css') }}">
        <script src="{{ asset('bundles/pdv/js/jquery.js') }}"></script>
        <script src="{{ asset('bundles/pdv/js/jquery-form.js') }}"></script>
        <script src="{{ asset('bundles/pdv/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/pdv/js/bootstrap.min.js') }}"></script>
       
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
