{% extends '::base.html.twig'%}
{% block body %}
	{% block menu %}
	<div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">
          	PDV Online</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Mantenimientos <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
              	<li><a href="{{ path('cliente') }}">Clientes</a></li>
                <li><a href="{{ path('fabricante') }}">Fabricantes</a></li>
                <li><a href="{{ path('unidadesmedida') }}">Unidades de Medida</a></li>
                <li><a href="{{ path('tipomoneda') }}">Tipos de Moneda</a></li>
                <li><a href="{{ path('producto') }}">Productos</a></li>
                <li><a href="{{ path('categoriaproducto') }}">Categorias de Producto</a></li>
                <li><a href="{{ path('empresa') }}">Empresas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Reportes <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">Empleados</a></li>
                <li><a href="#">Tipos de Empleado</a></li>
                <li><a href="#">Puestos</a></li>
              </ul>
            </li>
            <li>
              <a href="../help/">Help</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-off"></span>  Salir</a></li>
          </ul>

        </div>
      </div>
    </div>
    {% endblock %}
    {% block content %}

    {% endblock %}
{% endblock %}