{% extends 'PdvBundle::layout.html.twig' %}

{% block content -%}
 <script type="text/javascript">
	function submitForm(boton){
		if ($('#multinet_pdvonline_pdvonlinebundle_cliente_descripcion').val() != "") {
			$(boton).button('loading');
		};
	}
</script>
<div class="container">
     <div class="page-header">
        <h4>Unidades de Medida <small>Creación</small></h4>
        <a href="{{ path('unidadesmedida') }}" style="float:right" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a Listado</a>
    </div>
	<form action="{{ path('unidadesmedida_create') }}" method="POST">
		{{form_errors(form)}}
        {{form_widget(form._token)}}
        {{ form_label(form.descripcion) }}
        {{ form_widget(form.descripcion)}}
        <div style="display:none">
	        {{ form_label(form.status) }}
	        {{ form_widget(form.status)}}
	        {{ form_label(form.createdAt) }}
	        {{ form_widget(form.createdAt)}}
	        {{ form_label(form.updatedAt) }}
	        {{ form_widget(form.updatedAt)}}
        </div>
        <br/>
        <button type="submit" onclick="submitForm(this)" data-loading-text="Guardando..." class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
	</form>

</div>
{% endblock %}
