{% extends 'PdvBundle::layout.html.twig' %}

{% block content -%}
   <script type="text/javascript">
	function submitForm(boton){
		if ($('#multinet_pdvonline_pdvonlinebundle_producto_nombre').val() != "") {
			$(boton).button('loading');
		};
	}
</script>
<div class="container">
     <div class="page-header">
        <h4>Producto <small>Edición</small></h4>
        <a href="{{ path('producto') }}" style="float:right" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a Listado</a>
    </div>
	<form action="{{ path('producto_update',{'id':entity.id}) }}" method="POST">
		{{form_errors(edit_form)}}
        {{form_widget(edit_form._token)}}
        {{ form_label(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre)}}
        {{ form_label(edit_form.preciocosto) }}
        {{ form_widget(edit_form.preciocosto)}}
        {{ form_label(edit_form.precioventa) }}
        {{ form_widget(edit_form.precioventa)}}
        {{ form_label(edit_form.fechavencimiento) }}
        {{ form_widget(edit_form.fechavencimiento)}}
        <div style="display:none">
	        {{ form_label(edit_form.status) }}
	        {{ form_widget(edit_form.status)}}
	        {{ form_label(edit_form.createdat) }}
	        {{ form_widget(edit_form.createdat)}}
	        {{ form_label(edit_form.updatedat) }}
	        {{ form_widget(edit_form.updatedat)}}
        </div>
        <br/>
        <button type="submit" onclick="submitForm(this)" data-loading-text="Guardando..." class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
	</form>

</div>
{% endblock %}
