{% extends 'PdvBundle::layout.html.twig' %}

{% block content -%}
    <h1>Producto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Preciocosto</th>
                <th>Precioventa</th>
                <th>Fechavencimiento</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Status</th>
                <th>Stock</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.preciocosto }}</td>
                <td>{{ entity.precioventa }}</td>
                <td>{% if entity.fechavencimiento %}{{ entity.fechavencimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.createdat %}{{ entity.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.stock }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('producto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('producto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
