{% extends 'PdvBundle::layout.html.twig' %}
{% block content -%}
<script type="text/javascript">
    function submitForm(boton){
        $(boton).button('loading');
    }
</script>
    <div class="container">
        <div class="page-header">
            <h4>Producto <small>ID: {{entity.id}}</small></h4>
            <a href="{{ path('producto') }}" style="float:right" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a Listado</a>
        </div>
        <br/>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th class="success col-md-3">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th class="success">Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th class="success">Preciocosto</th>
                <td>{{ entity.preciocosto }}</td>
            </tr>
            <tr>
                <th class="success">Precioventa</th>
                <td>{{ entity.precioventa }}</td>
            </tr>
            <tr>
                <th class="success">Fechavencimiento</th>
                <td>{{ entity.fechavencimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th class="success">Createdat</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th class="success">Updatedat</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th class="success">Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th class="success">Stock</th>
                <td>{{ entity.stock }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('producto_edit', { 'id': entity.id }) }}" class="btn btn-success btn-sm">
           <span class="glyphicon glyphicon-edit"></span> Editar Registro
        </a>
        <a class="btn btn-danger btn-sm" data-toggle="modal" data-target="#divDeleteModal">
           <span class="glyphicon glyphicon-remove"></span> Eliminar Registro
        </a>
        <div class="modal fade" id="divDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar Registro</h4>
              </div>
              <div class="modal-body">
                Está Seguro de Eliminar el registro: <strong>{{entity.nombre}}</strong>
              </div>
              <div class="modal-footer">
                {{ form(delete_form) }}
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
