<!DOCTYPE html>
<script type="text/javascript">
    function submitForm(){
        $('#formLogin').submit();
    }
</script>
<html>
    <head>
        <title>PDV en Linea</title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pdv/css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
        <meta charset="UTF-8" />
    </head>
    <body>
     
        <div class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a href="{{ path('pdv_homepage') }}" class="navbar-brand">
                <span class="glyphicon glyphicon-home"></span> PDV En Línea</a>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a> <span class="glyphicon glyphicon-fire"> </span> Acerca de Nosotros </a>       
                </li>           
                <li>
                  <a><span class="glyphicon glyphicon-send"> </span> Contáctenos</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
       
    

        <section class="home full-height">

			<img src="{{ asset('bundles/pdv/images/logo.png') }}" style="margin-top:-300px;width:500px">
            <div class="container">
                <form action="{{ path('check_path') }}" role="form" name="login" method="POST" id="formLogin">
                    {% if error %}
                            <div class="row">
                              <div class="alert alert-danger col-md-4 col-md-offset-4">{{ error.message|trans({},'messages') }}</div>
                            </div>
                          {% endif %}
                    <div class="row center">

                        <div class="col-3">
                            <label for="noEmpleado" class="text text-success">Usuario:</label>
                           <input type="text" placeholder="Ingrese su nombre de Usuario" class="form-control" name="_username"/>
                        </div>

                         <div class="col-3">
                             <label for="Password" class="text text-success">Contraseña:</label>
                           <input type="password" placeholder="Ingrese su Contraseña" class="form-control" name="_password"/>
                        </div>
                    </div>
                    <br/>
                    <div class="row center">
                        <div class="col-3 boton" onclick="submitForm()">
                             Ingresar
                        </div>
                    </div>
                   
                </form>
            </div>

        </section>

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        © Multinet - 2015
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>