{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Empresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nitempresa</th>
                <td>{{ entity.nitempresa }}</td>
            </tr>
            <tr>
                <th>Nombreempresa</th>
                <td>{{ entity.nombreempresa }}</td>
            </tr>
            <tr>
                <th>Direccionempresa</th>
                <td>{{ entity.direccionempresa }}</td>
            </tr>
            <tr>
                <th>Mailempresa</th>
                <td>{{ entity.mailempresa }}</td>
            </tr>
            <tr>
                <th>Contactoempresa</th>
                <td>{{ entity.contactoempresa }}</td>
            </tr>
            <tr>
                <th>Telefonoempresa</th>
                <td>{{ entity.telefonoempresa }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nombrecertificado</th>
                <td>{{ entity.nombreCertificado }}</td>
            </tr>
            <tr>
                <th>Estadosucursal</th>
                <td>{{ entity.estadoSucursal }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('empresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('empresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
