{% extends 'PdvBundle::layout.html.twig' %}
{% block content -%}
<script type="text/javascript">
	function submitForm(boton){
		if ($('#multinet_pdvonline_pdvonlinebundle_fabricante_descripcion').val() != "") {
			$(boton).button('loading');
		};
	}
</script>
<div class="container">
     <div class="page-header">
        <h4>Fabricante <small>Edición</small></h4>
        <a href="{{ path('fabricante') }}" style="float:right" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a Listado</a>
    </div>
	<form action="{{ path('fabricante_update',{'id':entity.id}) }}" method="POST">
		{{form_errors(edit_form)}}
        {{form_widget(edit_form._token)}}
        {{ form_label(edit_form.nombre) }}
        {{ form_widget(edit_form.nombre)}}
        {{ form_label(edit_form.direccion) }}
        {{ form_widget(edit_form.direccion)}}
        {{ form_label(edit_form.telefono) }}
        {{ form_widget(edit_form.telefono)}}
        {{ form_label(edit_form.contacto) }}
        {{ form_widget(edit_form.contacto)}}
        <div style="display:none">
	        {{ form_label(edit_form.status) }}
	        {{ form_widget(edit_form.status)}}
	        {{ form_label(edit_form.createdat) }}
	        {{ form_widget(edit_form.createdat)}}
	        {{ form_label(edit_form.updatedat) }}
	        {{ form_widget(edit_form.updatedat)}}
        </div>
        <br/>
        <button type="submit" onclick="submitForm(this)" data-loading-text="Guardando..." class="btn btn-success btn-sm"><span class="glyphicon glyphicon-refresh"></span> Guardar Cambios</button>
	</form>

</div>
{% endblock %}
