{% extends 'PdvBundle::layout.html.twig' %}

{% block content -%}
<script type="text/javascript">
	function submitForm(boton){
		if ($('#multinet_pdvonline_pdvonlinebundle_fabricante_descripcion').val() != "") {
			$(boton).button('loading');
		};
	}
</script>
<div class="container">
     <div class="page-header">
        <h4>Fabricante <small>Creación</small></h4>
        <a href="{{ path('fabricante') }}" style="float:right" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-arrow-left"></span> Regresar a Listado</a>
    </div>
	<form action="{{ path('fabricante_create') }}" method="POST">
		{{form_errors(form)}}
        {{form_widget(form._token)}}
        {{ form_label(form.nombre) }}
        {{ form_widget(form.nombre)}}
        {{ form_label(form.direccion) }}
        {{ form_widget(form.direccion)}}
        {{ form_label(form.telefono) }}
        {{ form_widget(form.telefono)}}
        {{ form_label(form.contacto) }}
        {{ form_widget(form.contacto)}}
        <div style="display:none">
	        {{ form_label(form.status) }}
	        {{ form_widget(form.status)}}
	        {{ form_label(form.createdat) }}
	        {{ form_widget(form.createdat)}}
	        {{ form_label(form.updatedat) }}
	        {{ form_widget(form.updatedat)}}
        </div>
        <br/>
        <button type="submit" onclick="submitForm(this)" data-loading-text="Guardando..." class="btn btn-success btn-sm"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
	</form>

</div>
{% endblock %}
