    {% if entities is not empty %}
    <script type="text/javascript">
        function eliminar(id,boton){
            var data = {
                url: "{{ path('detallefactura_delete') }}/"+id,
                method: "POST",
                success: function(){
                    location.reload();
                },
                error: function(){
                    alert('error');
                },
                beforeSend: function(){
                    $(boton).button('loading');
                }
            };
            $.ajax(data);
        }
    </script>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Subtotal</th>
                
            </tr>
        </thead>
        <tbody>
        {% set suma = 0 %}
        {% for entity in entities %}
        {% set suma = suma + (entity.cantidad * entity.idProducto.precioVenta) %}
            <tr>
                
                <td>{% if entity.idfactura.estadoCierre == 0 %}<button type="button" onclick="eliminar({{entity.id}},this)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Eliminar</button>{% endif %}</td>
                
                <td>{{entity.idProducto}}</td>
                <td>{{ entity.cantidad }}</td>
                <td>Q. {{entity.idProducto.precioVenta}}</td>
                <td>Q. {{ entity.cantidad * entity.idProducto.precioVenta }}</td>
                
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="warning">Total:</td>
            <td class="warning">Q. {{suma}}</td>
        </tr>
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-warning">No ha ingresado Detalle</div>
    {% endif %}

